<div class="task-list ">
  <table>
    <thead>
    <tr>
      <th> Title</th>
      <th> Description</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each task-list as |task|}}
      {{#todo-row-component task=task}}{{/todo-row-component}}
    {{/each}}
    </tbody>
  </table>
  <div class="text-center">
    {{#link-to 'tasks.new'}} <button type="button" class="success button">Add</button> {{/link-to}}
  </div>
  {{yield}}
</div>

