<h3 class="text-center card-divider">A new TODO</h3>
<form class="new-task"{{action "createTask" on="submit"}}>
  <div class="grid-x grid-padding-x">
    <div class="small-3 cell">
      <label for="middle-label" class="text-right middle">Title</label>
    </div>
    <div class="small-9 cell">
      {{input type="text" valueBinding="title" placeholder="Title" required=true}}
    </div>
    <div class="small-3 cell">
      <label for="middle-label" class="text-right middle">Description</label>
    </div>
    <div class="small-9 cell">
      {{textarea  cols="80" rows="6" valueBinding="description" placeholder="Description"}}
    </div>
    <div class="small-3 cell">
      <label for="middle-label" class="text-right middle">Priority</label>
    </div>
    <div class="small-9 cell">
      <select onchange={{action "setSelection" value="target.value"}}>
        <option value="major" selected>major </option>
        <option value="minor">minor</option>
        <option value="critical">critical</option>
      </select>
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="success button">Save</button>
  </div>

</form>




