<h2>TODO list </h2>
<div class="row">
  <div class="small-6 columns">
    {{#task-list-component task-list=model}}{{/task-list-component}}
  </div>
  <div class="small-6 columns">
    {{outlet}}
  </div>
</div>

