<div class="row">
  <div class="small-6 columns card">
    <h3 class="text-center card-divider">TODO list</h3>
    {{#task-list-component task-list=model}}{{/task-list-component}}
  </div>
  <div class="small-6 columns card">
    {{outlet}}
  </div>
</div>

